<h1 class ="hometitle">Contact</h1>
<p>Team Atlantide</p>
<p>Contactez-nous par email : <a href="mailto:apprendre.a.coder.gratuitement@gmail.com">Contact mail</a></address></p>
<p class="link"><%= link_to '<- Homepage', root_path %></p>
<p class="link"><%= link_to '<- About', about_path %></p>
