<h1 class ="new_user">Bienvenue sur la page de création d'utilisateurs !</h1>

<form class ="form" action="/new" method="post">

    <% if @user.errors.any? %>
        <div>
            <% pluralize(@user.errors.count, "Error") %> 
            <p class ="errors" >This username can't be registered : </p>
            <ul class ="errors">
                <% @user.errors.full_messages.each do |msg| %>
                    <% if msg == "Name is invalid" %>
                        <li> <%= "Your Name can't contains whitespaces or special characters" %> </li>
                    <% else %> 
                    <li><%= msg %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    <% end %>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Ton nom d'utilisateur:</br>
    <input type="text" name="user_name"></br>
    Quelques mots à propos de toi:</br>
    <textarea placeholder="Dis nous qui tu es en quelques mots..." cols="40" rows="5"name="bio"></textarea></br>
    <input class="summit" type="submit" value="Create">

</form>

