<h1 class="hometitle">The Hacking project : Week 4 - Day 4</h1>
<div class="homepage">
    <p>Bienvenue sur la page d'accueil</p>
    <p>Merci de passer par ici mais cette homepage ne vous apportera pas grand chose...</p>
    <p>Si ce n'est créer un utilisateur sur notre super site!</p>
    <p>Pour vous inscrire, <%= link_to 'c\'est par ici', new_user_path %></p>
</div>